#method-form-view {
    min-height: 250px;
}

#request-view {
    min-height: 276px;
}

.json-view.well {
    padding: 6px;
}

.json-view pre {
    border: none;
}

#controls > .buttons {
    margin-left: 0
}

[class*="span"] {
    margin-left: 15px;
}

code.json {
    border-radius: 8px;
}

#test-methods-view {
    margin-top: 15px;
    border-radius: 10px;
}
